<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia + Salud - Inicio</title>
    <link rel="stylesheet" th:href="@{styles.css}">
</head>
<body>

<div id="menu-container" class="right-align">
    <div class="title">
        <h1>Bienvenido a Farmacia + Salud</h1>
        <img th:src="@{logo.jpg}" alt="Farmacia + Salud Logo">
    </div>
    <div class="dropdown">
        <button class="dropbtn">Menú</button>
        <div class="dropdown-content">
            <a th:href="@{productos}">Mantenimiento de Productos</a>
            <a th:href="@{proveedores}">Mantenimiento de Proveedores</a>
            <a href="#">Mantenimiento de Ventas</a>
            <a href="#">Mantenimiento de Compras</a>
            <a href="#">Mantenimiento de Movimientos</a>
            <a href="login.html">Cerrar Sesión</a>
        </div>
    </div>
</div>

</body>
</html>
