<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento Movimientos</title>
    <link rel="stylesheet" th:href="@{style2.css}">
</head>
<body>
<div class="header">
    <form th:action="@{/inicio}">
        <button type="submit">Regresar al Menú Principal</button>
    </form>

    <h1>Mantenimiento Movimientos</h1>
</div>
<table>
    <thead>
    <tr>
        <th>ID Movimiento</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Fecha</th>
        <th>Tipo Movimiento</th>
    </tr>
    </thead>
    <tbody id="productList">
    <tr th:each="movimiento : ${movimientos}">
        <td th:text="${movimiento.getMovimientoId()}">ID Movmiento</td>
        <td th:text="${movimiento.getProducto().getNombre()}">Producto</td>
        <td th:text="${movimiento.getCantidad()}">Cantidad</td>
        <td th:text="${#temporals.format(movimiento.getFecha(), 'dd/MM/yyyy')}">Fecha</td>
        <td th:text="${movimiento.getTipoMovimiento()}">Tipo Movimiento</td>
    </tr>
    </tbody>
</table>

<script th:src="@{compras.js}"></script>

</body>
</html>
