<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento de Proveedores</title>
    <link rel="stylesheet" th:href="@{style2.css}">
</head>
<body>
<div class="header">
    <form th:action="@{/inicio}">
        <button type="submit">Regresar al Menú Principal</button>
    </form>

    <h1>Mantenimiento de Proveedores</h1>
</div>
<form id="proveedorForm" th:action="@{proveedores}" th:object="${proveedorAdd}" method="post">
    <label for="proveedorName">Proveedor:</label>
    <input type="text" id="proveedorName" th:field="*{proveedor}" required>
    <label for="Direccion">Direccion:</label>
    <input type="text" id="Direccion" th:field="*{direccion}" required>
    <label for="Telefono">Teléfono:</label>
    <input type="text" id="Telefono" th:field="*{telefono}" required>
    <label for="Celular">Celular:</label>
    <input type="text" id="Celular" th:field="*{celular}" required>
    <label for="Email">E-Mail:</label>
    <input type="text" id="Email" th:field="*{email}" required>
    <label for="personContact">Persona de Contacto:</label>
    <input type="text" id="personContact" th:field="*{personaContacto}" required>
    <button type="submit" id="addButton">Agregar Proveedor</button>
</form>
<table>
    <thead>
    <tr>
        <th>ID Proveedor</th>
        <th>Proveedor</th>
        <th>Direccion</th>
        <th>Teléfono</th>
        <th>Celular</th>
        <th>Email</th>
        <th>Persona Contacto</th>
    </tr>
    </thead>
    <tbody id="productList">
    <tr th:each="proveedor : ${proveedores}">
        <td th:text="${proveedor.getProveedorId()}">ID Proveedor</td>
        <td th:text="${proveedor.getProveedor()}">Proveedor</td>
        <td th:text="${proveedor.getDireccion()}">Dirección</td>
        <td th:text="${proveedor.getTelefono()}">Teléfono</td>
        <td th:text="${proveedor.getCelular()}">Celular</td>
        <td th:text="${proveedor.getEmail()}">Email</td>
        <td th:text="${proveedor.getPersonaContacto()}">Persona contacto</td>
    </tr>
    </tbody>
</table>
<script th:src="@{proveedor.js}"></script>
</body>
</html>