<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimiento de Ventas</title>
    <link rel="stylesheet" th:href="@{style2.css}">
</head>
<body>
    <div class="header">
        <form th:action="@{/inicio}">
            <button type="submit">Regresar al Menú Principal</button>
        </form>

<h1>Movimiento de Ventas</h1>
    </div>
<!-- Formulario para insertar un nuevo ventaso -->
<form id="ventaForm">
    <label for="ventaId">ID ventas:</label>
    <input type="text" id="ventaId" required>
    <label for="Fecha">Fecha:</label>
    <input type="text" id="Fecha" required>
    <label for="Cantidad">Cantidad:</label>
    <input type="text" id="Cantidad" required>
    <label for="ventasPriceshop">Precio Unitario:</label>
    <input type="number" id="ventasPriceshop" required>
    <label for="ventasPrice">Precio Total:</label>
    <input type="number" id="ventasPrice" required>
    <button type="button" id="addButton" onclick="addventas()">Agregar venta</button>
</form>
<table>
    <thead>
    <tr>
        <th>ID ventas</th>
        <th>Fecha</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Precio Total</th>
    </tr>
    </thead>
    <tbody id="ventasList">
        <tr th:each="ventaso : ${ventasos}">
            <td th:text="${ventas.getventaId()}">ID ventas</td>
            <td th:text="${ventas.getNombre()}">Nombre</td>
            <td th:text="${ventas.getCantidad()}">Cantidad</td>
            <td th:text="${ventas.getPrecioDeCompra()}">Precio Unitario</td>
            <td th:text="${ventas.getPrecioDeVenta()}">Precio Total</td>
        </tr>
    </tbody>
</table>

<script th:src="@{ventas.js}"></script>

</body>
</html>
