<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimiento de Ventas</title>
    <link rel="stylesheet" th:href="@{style2.css}">
</head>
<body>
<div class="header">
    <form th:action="@{/inicio}">
        <button type="submit">Regresar al Menú Principal</button>
    </form>

    <h1>Movimiento de Ventas</h1>
</div>
<!-- Formulario para insertar un nuevo ventaso -->
<form id="ventaForm" th:action="@{/ventas}" th:object="${ventaAdd}" method="post">
    <label for="producto">Producto:</label>
    <select name="producto" id="producto" th:field="*{productoId}">
        <option th:each="producto : ${productos}" th:value="${producto.getProductoId()}"
                th:text="${producto.getNombre()}"></option>
    </select>
    <label for="Cantidad">Cantidad:</label>
    <input type="number" id="Cantidad" th:field="*{cantidad}" required>
    <label for="Fecha">Fecha:</label>
    <input type="date" id="Fecha" th:field="*{fecha}" required>
    <button type="submit" id="addButton">Agregar venta</button>
</form>
<table>
    <thead>
    <tr>
        <th>ID Venta</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Fecha</th>
    </tr>
    </thead>
    <tbody id="productList">
    <tr th:each="venta : ${ventas}">
        <td th:text="${venta.getVentaId()}">ID Compra</td>
        <td th:text="${venta.getProducto().getNombre()}">Producto</td>
        <td th:text="${venta.getCantidad()}">Cantidad</td>
        <td th:text="${#temporals.format(venta.getFecha(), 'dd/MM/yyyy')}">Fecha</td>
    </tr>
    </tbody>
</table>
<script th:src="@{ventas.js}"></script>

</body>
</html>
